/* 滚动条轨道的样式 */
::-webkit-scrollbar {
  width: 5px;
  /*竖向滚动条的宽度*/
  height: 5px;
  /*横向滚动条的高度*/
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* 滚动条轨道内滑块的样式 */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #A0B0CD;
}

/* 当焦点不在当前区域滑块的状态 */
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #FFFFFF;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.clearfix:before,
.clearfix:after {
  /*清除浮动*/
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

.export-btn {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border:none;
  margin-left: 30px;
  background:#e2e1e4;
  cursor:pointer;
}

.layui-export-btn{
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
}

.main-page{
  width: 280px;
  height: 100px;
  font-size: 12px;
  font-family: "San Francisco Pro","Roboto","Helvetica","PingFang SC","\82F9\65B9","Microsoft Yahei","\5FAE\8F6F\96C5\9ED1","Source Han Sans CN","\601D\6E90\9ED1\4F53","SimHei","\9ED1\4F53","SimSun","\5B8B\4F53",sans-serif;
  color:var(--primaryFont-color);
}

.layui-search{
  width: 280px;
}

.search-input{
  width: 276px;
  border-radius: 5px;
}

.layui-radio{
  margin-top: 20px;
  display: flex;
}

.layui-radio input{
  margin-left: 35px;
  cursor:pointer;
}

.layui-radio label{
  cursor:pointer;
}

